<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation Confirmation</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <style>
        body {
            font-family: 'Roboto', Arial, sans-serif;
            background-color:  #f4f4f4;
            margin: 0;
            padding: 0;
            color: #333;
        }

          .email-container {
            max-width: 600px;
            margin: 30px auto 0;
            background-color: #ffffff;
            padding: 0;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            border: 2px solid #000000;
        }

        .header {
            text-align: center;
            padding: 20px 0;
            background-color: #D4AF37;
            color: #FDF6E3;
        }

        .header h2 {
            margin: 0;
            font-size: 24px;
            font-weight: 700;
        }

        .content {
            padding: 25px;
            color:  #f4f4f4;
        }

        .content h1 {
            text-align: center;
            font-size: 28px;
            margin-bottom: 15px;
            color: #0D0D0D;
        }

        .content h2 {
            font-size: 18px;
            margin-top: 0;
            color: #0D0D0D;
        }

        .content ul {
            list-style-type: none;
            padding: 0;
            margin: 15px 0 20px;
        }

        .content ul li {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.5;
            color: #0D0D0D;
        }

        .content ul li strong {
            color: #0D0D0D;
        }

        .contact-us {
            margin-top: 20px;
            text-align: center;
        }

        .contact-us a {
            color: #B0B0B0;
            text-decoration: none;
            font-weight: bold;
            text-decoration: underline;
        }

        .footer {
            text-align: center;
            padding: 15px 0;
            background-color: #D4AF37;
            color: #FDF6E3;
            font-size: 12px;
            margin-top: 0;
        }

        .footer img {
            max-width: 30px;
            margin-bottom: 10px;
        }

        .footer p {
            margin: 5px 0 0;
        }
    </style>
</head>

<body>
    <div class="email-container">
        <div class="header">
            <h2>Reservation Confirmed!</h2>
        </div>
        <div class="content">
            <h1 class="greeting">Hello, <span>{{user}}</span>.</h1>
            <h2 class="confirmation-message">Your reservation has been successfully confirmed!</h2>
            <p class="details-intro">Here are the details of your reservation:</p>
            <ul class="reservation-details">
                <li><strong>Check-In Date:</strong> {{checkIn}}</li>
                <li><strong>Check-Out Date:</strong> {{checkOut}}</li>
                <li><strong>Total Amount:</strong> ${{totalAmount}}</li>
                <li><strong>Room:</strong> {{room}}</li>
                <li><strong>Cats Included:</strong> {{cats}}</li>
                <li><strong>Payment:</strong> Succeeded </li>
            </ul>
            <div class="contact-us">
                <p>We hope you enjoy your stay. Please feel free to contact us for any questions or additional requests.</p>
                <a href=".">Visit Our Website</a>
            </div>
        </div>
        <div class="footer">
            <img src="cid:logoApp" alt="Logo" />
            <p>&copy; 2025 The Fancy Box. All rights reserved.</p>
        </div>
    </div>
</body>

</html>